<footer class="main text-center">
  <div class="social-icons">
    <a target="_blank" href="https://github.com/andremleblanc"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a target="_blank" href="https://www.linkedin.com/in/andremleblanc/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a target="_blank" href="https://twitter.com/andremleblanc"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a target="_blank" href="https://www.instagram.com/andremleblanc/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a target="_blank" href="{{ "/feed.xml" | relative_url }}"><i class="fa fa-rss"></i></a>
  </div>
  <div class="copyright">
    &copy;2017 Andre LeBlanc. All Rights Reserved.
  </div>
</footer>
